body {
    background-color: #fff6db;
    font-family: 'Lora', serif;
    font-size: 20px;
    color: #666666;
}

.container-fluid {
    padding: 20px;
    background-color: white;
}

#logo {
    font-family: 'Lobster', cursive;
    font-size: 40px;
    color: skyblue;
}

.nav-links {
    font-family: 'IM Fell English', serif;
    font-size: 23px;
}

.content-headings {
    font-size: 40px;
    font-family: 'Lobster', cursive;
}

div #home {
    margin-top: -20px;
    background-color: antiquewhite;
}

div .jumbotron {
    margin-top: -68px;
    height: 600px;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    height: 700px;
    margin: auto;
}

div .welcome {
    padding: 45px;
    margin-top: 20px;
}

div .paragraphs p {
    padding: 10px;
    font-size: 20px;
}