@{
    ViewData["Title"] = "Gummi Bear Kingdom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="about-us">
    <div class="container paragraphs">
        <h2 class="content-headings">
            Who We Are...
        </h2>
        <p>
            Sed ut cursus dolor. Sed non magna eu odio blandit pellentesque nec ultricies neque. Vestibulum sagittis risus in molestie malesuada. Aliquam erat nulla, tempus ac pulvinar at, dapibus vitae est. Nulla justo tortor, imperdiet non sollicitudin in, vulputate in sapien. Proin fermentum nunc justo, sed blandit quam aliquet nec. Donec a orci vitae ex mattis facilisis non eget felis. Nullam a dui at velit lobortis pharetra. Etiam ut urna quis nibh tempor consequat.
        </p>
        <p>
            Proin sed leo sit amet mauris tristique maximus. Nunc finibus id enim quis faucibus. Pellentesque viverra tincidunt erat quis convallis. Donec cursus diam sollicitudin aliquam dapibus. Aliquam porta mauris lectus, vel suscipit ligula suscipit sit amet. Duis blandit quam dolor, at volutpat massa feugiat non.m. Curabitur eu erat in neque pellentesque scelerisque.
        </p>
        <h2 class="content-headings">
            What We Do...
        </h2>
        <p>
            Curabitur ultrices volutpat urna, ut tempor dolor ultricies in. Maecenas gravida vestibulum augue, sit amet vehicula leo cursus non. Quisque at purus sagittis, cursus diam sed, condimentum massa. Nullam at molestie magna, nec hendrerit libero. Proin sit amet lacus dui. Duis ut quam vel justo aliquet vulputate.
        </p>

        <h2 class="content-headings">
            How To Enjoy Gummies...
        </h2>
        <p>
            Curabitur ac arcu semper eros tincidunt tempus. Aliquam ac lacus eget neque fermentum tempor. Suspendisse mattis nibh vel justo consequat aliquam. Duis eros risus, elementum vitae feugiat vel, condimentum vel odio. Aenean cursus est sit amet augue hendrerit scelerisque. Sed venenatis orci quis vestibulum laoreet. Vestibulum vitae tristique nisi, sit amet porttitor eros. Vestibulum id sapien ut leo elementum tristique vel eget lorem. Nullam lobortis vestibulum sapien, efficitur mollis felis pharetra nec.
        </p>
        <p>
            Nunc vehicula id dui quis facilisis. Etiam venenatis mattis velit, et condimentum turpis. Integer vel diam hendrerit, dictum ex quis, vulputate erat. Cras venenatis dolor nisl, id rhoncus purus facilisis sed. Phasellus malesuada iaculis elit, et faucibus ligula mattis vel. Nulla aliquam, dolor nec laoreet consectetur, ligula arcu bibendum lorem, id rutrum sem leo eu sapien. Etiam lobortis dolor in velit ultrices blandit. Nunc at augue purus. Sed id tristique metus.
        </p>
    </div>
</div>