@{
    ViewData["Title"] = "Gummi Bear Kingdom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model gummi_bear_kingdom.Models.Product

<div id="delete">
    <div class="container paragraphs">
        <h2 class="content-headings">Delete: @Html.DisplayFor(model => model.Name)?</h2>
        <br />

        @using (Html.BeginForm())
        {
            
            <input type="submit" value="Delete" class="btn btn-md btn-danger"/>
        }
        <hr />
        <h3>@Html.ActionLink("Back to Products", "Index")</h3>
    </div>
</div>